AnimalesEnLaWeb/src/conf/xml-resources/web-service-references/salutator/wsdl/localhost_8280/salutator.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.test.tpgr.tprogwsserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.test.tpgr.tprogwsserver/" name="SalutatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.test.tpgr.tprogwsserver/" schemaLocation="http://localhost:8280/salutator?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getPeople">
<part name="parameters" element="tns:getPeople"></part>
</message>
<message name="getPeopleResponse">
<part name="parameters" element="tns:getPeopleResponse"></part>
</message>
<message name="sayHi">
<part name="parameters" element="tns:sayHi"></part>
</message>
<message name="sayHiResponse">
<part name="parameters" element="tns:sayHiResponse"></part>
</message>
<message name="getPeopleNotFixedLenght">
<part name="parameters" element="tns:getPeopleNotFixedLenght"></part>
</message>
<message name="getPeopleNotFixedLenghtResponse">
<part name="parameters" element="tns:getPeopleNotFixedLenghtResponse"></part>
</message>
<portType name="Salutator">
<operation name="getPeople">
<input wsam:Action="http://ws.test.tpgr.tprogwsserver/Salutator/getPeopleRequest" message="tns:getPeople"></input>
<output wsam:Action="http://ws.test.tpgr.tprogwsserver/Salutator/getPeopleResponse" message="tns:getPeopleResponse"></output>
</operation>
<operation name="sayHi">
<input wsam:Action="http://ws.test.tpgr.tprogwsserver/Salutator/sayHiRequest" message="tns:sayHi"></input>
<output wsam:Action="http://ws.test.tpgr.tprogwsserver/Salutator/sayHiResponse" message="tns:sayHiResponse"></output>
</operation>
<operation name="getPeopleNotFixedLenght">
<input wsam:Action="http://ws.test.tpgr.tprogwsserver/Salutator/getPeopleNotFixedLenghtRequest" message="tns:getPeopleNotFixedLenght"></input>
<output wsam:Action="http://ws.test.tpgr.tprogwsserver/Salutator/getPeopleNotFixedLenghtResponse" message="tns:getPeopleNotFixedLenghtResponse"></output>
</operation>
</portType>
<binding name="SalutatorPortBinding" type="tns:Salutator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getPeople">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sayHi">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPeopleNotFixedLenght">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SalutatorService">
<port name="SalutatorPort" binding="tns:SalutatorPortBinding">
<soap:address location="http://localhost:8280/salutator"></soap:address>
</port>
</service>
</definitions>